<manifest xmlns:tools="http://schemas.android.com/tools"
    package="com.example.sms2tg"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission
        android:name="android.permission.RECEIVE_SMS"
        tools:ignore="PermissionImpliesUnsupportedChromeOsHardware,SmsPermittedOnlyForDefaultApp" />
    <uses-permission
        android:name="android.permission.READ_SMS"
        tools:ignore="SmsPermittedOnlyForDefaultApp" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature android:name="android.hardware.telephony" android:required="false" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />

    <application
        android:allowBackup="true"
        android:label="SmsToTelegram"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/Theme.SmsToTelegram"
        android:supportsRtl="true">

        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 🧱 Новый экран: список заблокированных отправителей -->
        <activity
            android:name=".BlockedListActivity"
            android:exported="true"
            android:label="Список блокировок" />

        <!-- Сервис для мониторинга батареи -->
        <service
            android:name=".BatteryMonitorService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="specialUse">
            <property android:name="android.app.property.FOREGROUND_SERVICE_TYPE" android:value="specialUse" />
        </service>

        <!-- Ресивер для приёма SMS -->
        <receiver
            android:name=".SmsReceiver"
            android:permission="android.permission.BROADCAST_SMS"
            android:exported="true">
            <intent-filter android:priority="1000">
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

    </application>
</manifest>
